body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #F2F2F2;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

h1 {
  margin-bottom: 25px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  transition: 0.9s;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  margin-bottom: 15px;
  width: 200px;
  padding: 20px;
  background-color: #444;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

li:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 20px rgba(255, 255, 255, 0.2);
}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  display: block;
}

.pfp img {
  width: 150px;
  height: 150px;
  border-radius: 80%;
}
.pfp img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border:1px solid #a546e4;
  display: inline-block;
}

.container ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.container li {
  margin: 0 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 80%;
  flex-direction: row;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-me {
  margin-top: 30px;
  text-align: center;
  width: 80%;
}

section {
  padding: 20px;
}

h2 {
  text-align: center;
}

@media (max-width: 767px) {
  ul {
    flex-direction: column;
  }

  li {
    margin-bottom: 400px;
    width: 100%;
    text-align: center;
  }
}
