@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&display=swap');


body{
    font-family: 'Gantari', sans-serif;
    margin: 0;
    margin-top: 20;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(59,9,121,1) 44%, rgba(4,119,143,1) 100%);
}
.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    max-width: 130px;
    width: auto;
    height: auto;
    margin: auto;

    border-radius: 50%;
    border-style: solid;
    border-color: white;
    animation: animate-profile-pic 800ms 200ms backwards;
}
.profile-name {
    text-align: center;
    padding: 30px;
    font-family: 'Signika', sans-serif;
    font-size: 28px;
    color: white;
    animation: animate-profile-pic 800ms 200ms backwards;
}

.profile-name h1 {
    text-shadow: 0px 2px 2px #c436f7;
    animation: animate-profile-pic 800ms 200ms backwards;
}

.typing-effect {
    text-align: center;
    size: 300px;
    font-family: 'Signika', sans-serif;
    font-size: 28px;
    color: white;
}

.auto-type {
    color: #c436f7;
}

.links {
    text-align: center;
    line-height: 28px;
    margin-top: 20px;
    border: 1px solid #c436f7;
    border-width: 2px;

    width: 300;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;


    border-radius: 40px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 25px;
    animation: animate-profile-pic 800ms;
}

a {
    text-decoration: none;
    transition: color 1s;
    color: white;
}
a:hover {
    color: black;
    background-color: white;
}
.bottom-border {
    position: relative;
    padding: 300px;
    font-family: 'Signika', sans-serif;
    font-size: 28px;
    color: white;
    background-color: red;
}
.explain-text {
    color: white;
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
}
.notice {
    color: #82817f;
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
    
}
.about--me {
    text-align: center;
    color: #fff;
    margin-top: 60px;
    font-size: 16px;

    max-width: 500px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.abt--me_name {
    text-shadow: 0px 2px 2px #c436f7;
}
.about--me__para {
    padding-bottom: 20px;
}
.ending-text {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(59,9,121,1) 44%, rgba(4,119,143,1) 100%);
    height: 150px;
}








/* Css Animations */
@keyframes animate-profile-pic {
    0% {
        transform: scale(0);
    } 
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes scale-hover {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(2);
    }
}
